@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&display=swap");

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
}

*{
  box-sizing: border-box;
}

body {
  color: var(--color-default);
}
.dropdown-menu2 {
  position: absolute;
  top: 0%;
  left: 100%;
}

.navbar a {
  font-family: var(--font-secondary);
  font-weight: 500;
  color: #7f7f90;
}
.navbar .logo1 h1 {
  font-size: 28px;
  font-weight: 750;
  color: #000;
}
.navbar .logo1 h1 span {
  color: var(--color-primary);
}
.navbar .btn-book-a-table,
.btn-book-a-table {
  font-size: 14px;
  color: #fff;
  background: var(--color-primary);
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.underline {
  width: 0;
  height: 1.5px;
  background: var(--color-primary);
  transition: width 0.2s linear;
}

.active{
  width: 100%;
}

.tran:hover .underline {
  width: 100%;
}

#about{
  /* scroll-snap-align: start; */
  scroll-margin-top: 50px;
}

.d-items:hover {
  color: var(--color-primary) !important;
  background: #fff !important ;
}

/* header section */

.section-bg {
  width: 100%;
  background-color: #eee;
  overflow: auto;
}

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  background-color: var(--color-primary);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.25);
  text-decoration: none;
}
.hero .btn-book-a-table:hover {
  background: rgba(206, 18, 18, 0.8);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
  color: #fff;
}
.hero .btn-watch-video {
  font-size: 16px;
  margin-left: 25px;
  color: var(--color-secondary);
  font-weight: 600;
  text-decoration: none;
}
.hero .btn-watch-video i {
  color: var(--color-primary);
  font-size: 32px;
  margin-right: 8px;
  font-weight: 300;
}
.hero .btn-watch-video:hover {
  color: var(--color-primary);
}

/* about us section  */
.about-img {
  min-height: 500px;
  background-size: cover;
}
.about-img2 {
  height: auto;
  max-width: 100%;
}
.temp-heading {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 64px;
}
.about-heading {
  font-family: "Amatic SC", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.about-us .call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}
.about-us .call-us h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: var(--font-default);
}
.about-us .section-header > span{
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}
.about-us .call-us p {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

/* why choose us section  */
.why-us .why-box{
    padding: 30px;
    background: var(--color-primary);
    color: #fff;
}
.why-us .why-box h3{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-us .why-box p{
  margin-bottom: 30px;
}
.why-us .why-box .more-btn{
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}
.why-us .card-box i{
    color: var(--color-primary);
    font-size: 32px;
    background: rgba(206, 18, 18, 0.1);
    border-radius: 100px;
    /* display: flex; */
    padding: 10px 17px;
    /* align-items: center;
    justify-content: center; */
    /* width: 64px;
    height: 64px; */
}
.why-us .card-box h5{
  margin-top: 30px;
}
.card-trans{
  transition: transform 0.3s ease;
}
.card-trans:hover{
  transform: scale(1.08);
}

/* stats section  */
.stats-counter{
  background: linear-gradient(to right, rgba(1, 1, 1, 0.5), rgba(0, 0, 0, 0.5)),url('/images/stats-bg.jpg');
  background-attachment: fixed;
}
.stats-counter .stats-item{
  padding: 30px;
}

.w-100{
  width: 100% !important;
}

.h-100{
  height: 100% !important;
}
.stats-counter .stats-item span{
  font-size: 48px;
    display: block;
    color: white;
    font-weight: 700;
}
.stats-counter .stats-item p{
  padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
   
}

/* Media Queries  */
@media (min-width: 992px) {
  .dropdown1:hover .dropdown-menu1,
  .dropdown2:hover .dropdown-menu2 {
    display: block;
  }
}
@media (max-width: 992px) {
  .tran:hover {
    width: 20%;
  }
  .section-bg {
    padding-top: 3px;
  }
  .testimonial .item .testimonial-img {
    max-width: 70%;
    /* border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto; */
  }
  
}
@media only screen and (min-width: 1200px) {
  .section-bg {
    height: 100vh;
  }
  
}
@media only screen and (max-width: 1200px){
  .why-us .card-box{
    display: block;
    width: 100%;
  }
}

.section-y{
  background-color: #eee;
}


/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .nav-tabs {
  border: 0;
}

.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: var(--color-secondary);
  
  cursor: pointer;
  height: 100%;
  border: 0;
  
}
#menu{
  /* scroll-snap-align: start; */
  scroll-margin-top: 40px;
}
.section-header h2{
  font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
}
.section-header p{
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
}
.section-header p span {
  color: var(--color-primary);
}
@media (max-width: 575px) {
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0;
  }
}

.menu .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: var(--font-secondary);
}

@media (max-width: 575px) {
  .menu .nav-link h4 {
    font-size: 16px;
  }
}

.menu .nav-link:hover {
  color: var(--color-primary);
}



.menu .tab-content .tab-header {
  padding: 30px 0;
}

.menu .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #676775;
  margin-bottom: 0;
}

.menu .tab-content .tab-header h3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-primary);
}

.menu .tab-content .menu-item {
  -moz-text-align-last: center;
  text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-weight: 30px;
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .ingredients {
  font-family: var(--font-secondary);
  color: #8d8d9b;
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
}

/* Testimonial section  */

.vl {
  border-left: 3px solid var(--color-primary);
  height: 180px;
}
.testimonial .testimonial-header h2{
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}
.testimonial .testimonial-header p{
  margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
}
.testimonial-header{
  padding-bottom: 30px;
}
.testimonial .testimonial-header p span{
  color: var(--color-primary);
}


.testimonial .item p {
  font-style: italic;
}

.testimonial .item .quote-icon-left, .testimonial .item .quote-icon-right {
  color: #f05656;
  font-size: 26px;
  line-height: 0;
}
.testimonial .item .quote-icon-right{
display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}
.testimonial .item h3{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--color-default);
    font-family: var(--font-secondary);
}


.testimonial .item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 10px 0;
    font-family: var(--font-secondary);
}
.testimonial .item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonial .item .testimonial-img {
  /* max-width: 70%; */
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}


/* event section  */
.image-event{
  min-height: 500px;
  min-width: 400px;
  
  z-index: -1;
}
.event-div{
  background: linear-gradient(to right, rgba(1, 1, 1, 0.6), rgba(0, 0, 0, 0.6));
  margin-top:-700px;
  min-height: 700px;
  min-width: 400px;
  
}
.bottom{
  position: absolute;
  bottom: 0;
  padding-left: 15px;
}

.event-div .bottom h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 2px 2px 8px #010101;
}
.event-div .bottom span{
  color: #fff;
  border-bottom: 2px solid var(--color-primary);
  font-size: 32px;
  font-weight: 700; 
  text-shadow: 2px 2px 8px #010101;
 
}
.event-div .bottom p{
  text-shadow: 2px 2px 8px #010101;
    color: rgba(255, 255, 255, 0.9);
}

/* chefs section  */
.chefs .chef-member .member-img{
  position: relative;
  overflow: hidden;
}
.chefs .chef-member .member-img > .image-fluid{
    max-width: 99%;
    height: auto;
}
.chefs .chef-member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: .5px;
  height: 100%;
  width: 100%;
  background: url('/images/team-shape.svg') no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.chefs .chef-member .member-info {
  padding: 10px 15px 20px 15px;
}
.chefs .chef-member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--color-secondary);
}
.chefs .chef-member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}
.chefs .chef-member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: rgba(33, 37, 41, 0.7);
}
.chefs .chef-member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
  transition: transform 0.3s ease;
}

.chefs .chef-member:hover{
 transform: scale(1.06);
}

/* Book a table section  */
.book-bg{
  background: url('/images/reservation.jpg');
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
textarea{
  resize: vertical;
 
  
}
.form-div{
  background:rgba(55, 55, 63, 0.04); 
}

.form-row .form-col input, textarea{
  padding: 12px 15px;
  font-size: 14px;
}

.table-form{
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33 37 41);
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgb(222 226 230);
}

.book-form{
  padding: 40px;
}

.btn-submit{
    background: var(--color-primary);
    border: 0;
    padding: 14px 60px;
    color: #fff;
    border-radius: 50px;
}
.btn-submit:hover{
  background: #ec2727;
}

/* gallery section  */
.slider .owl-item.active.center .item2{
  transform: scale(1.2);
  transition: all .3s;
  border: 4px solid var(--color-primary);
  padding: 3px;
  min-height: fit-content;
 
}

.item2{
  transform: scale(0.9);
  transition: all .3s;
 margin-left: 4px;
 margin-right: 7px;
  
}
.slider .owl-stage {
  margin: 22px -2px;
}

section.gallery.section-y.testimonial.py-5 {
  height: 70vh !important;
}

/* contact-us section  */
.contact-div {
  background: #f4f4f4;
  padding: 30px;
  
}
.contact-us .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.contact-us .info-item p {
  font-family: var(--font-default);
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}
.contact-us .contact-div .icon{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: var(--color-primary);
    border-radius: 50%;
    margin-right: 15px;
}

.contact-us .php-mail-form{
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact-us .php-mail-form .form-group {
  padding-bottom: 20px;
}

.contact-us .php-mail-form input {
  height: 48px;
  font-size: 14px;
  padding: 12px 15px;
}